.table.stages .row {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #111827;
    display: table;
    table-layout: fixed;
}

.table.stages .row .cell {
    border-right-width: 6px;
}

.table.stages .row.stages-header .cell {
    background-color: #FDF6B2;
    border-color: #FACA15;
    border-top-width: 1px;
}

.table.stages .row.stages-header .cell .id {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #FACA15;
    padding: 4px 0;
}

.table.stages .row.stages-header .cell .id .components-icon{
    position: relative;
    margin-right: 23px;
}

.table.stages .row.stages-header .cell .id .components-icon svg {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: -1px;
}

.table.stages .row.stages-header .cell .order {
    font-size: 12px;
    padding-top: 4px;
}

.table.stages .row.stages-header .cell .order-caption {
    font-size: 10px;
}

.table.stages .row.stages-header .cell .order-border {
    border-bottom: 1px solid #FACA15;
    padding-top: 4px;
}

.table.stages .row.stages-header .cell .parallel {
    font-size: 12px;
    padding: 4px 0;
}

.table.stages .row.stages-header .cell .parallel-note {
    font-size: 11px;
    background: #F8B4B4;
    color: #9B1C1C;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 6px;
}

.table.stages .row:nth-child(2n) {
    background-color: #F9FAFB;
}

.table.stages .row .top-border {
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: -1;
    background-color: #E5E7EB;
}
