.table.stages .row {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #111827;
    display: table;
    table-layout: fixed;
}

.table.stages .row.stages-header .cell {
    background-color: #FDF6B2;
    border-color: #FACA15;
    border-top-width: 1px;
}

.table.stages .row .cell {
    border-right-width: 6px;
}

.table.stages .row:nth-child(2n) {
    background-color: #F9FAFB;
}

.table.stages .row .top-border {
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: -1;
    background-color: #E5E7EB;
}
