.table.components .cell {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 280px;
    min-width: 280px;
    padding: 8px;
    border-top: 1px solid #E5E7EB;
    border-right: 1px solid #E5E7EB;
    white-space: break-spaces;
    cursor: default;
}

.table.components .cell.first {
    border-right-width: 6px;
}

.table.components .cell.selected {
    background-color: #FDF6B2;
    border-color: #FACA15;
}

.table.components .cell.selected::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 6px;
    background-color: #FACA15;
    height: calc(100% + 1px);
}

.table.components .cell.second.selected::before {
    left: -6px;
}

.table.components .cell .name {
    font-size: 11px;
    background-color: #FDF6B2;
    display: inline-block;
}

.table.components .cell .type {
    font-size: 13px;
    display: inline-block;
}

.table.components .cell .actions {
    position: absolute;
    top: calc(50% - 15px);
    right: 6px;
    display: none;
}

.table.components .cell:hover .actions {
    display: block;
}

.table.components .cell .actions .info {
    cursor: pointer;
}

.table.components .cell .actions .info svg {
    width: 30px;
    height: 30px;
    fill: #D1D5DB;
}

.table.components .cell.selected .actions .info svg {
    fill: #FACA15;
}

/*.cell .code {*/
/*    display: inline-block;*/
/*    font-size: 10.5px;*/
/*    tab-size: 2;*/
/*    height: 50px;*/
/*    overflow: scroll;*/
/*    max-width: 288px;*/
/*}*/

.table.components .cell .border {
    position: absolute;
    top: 100%;
    right: -1px;
    width: 1px;
    height: 100vh;
    background-color: #E5E7EB;
}

.table.components .cell .border.first {
    width: 6px;
    right: -6px;
}

.table.components .cell .overlay {
    position: absolute;
    background: white;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    text-align: center;
    z-index: 10;
    opacity: .65;
}

.table.components .cell .overlay .text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #D1D5DB;
}
